config DADAO
	def_bool y
	select GENERIC_IOMAP
	select GENERIC_IRQ_SHOW
	select HAVE_RCU_TABLE_FREE
	select HAVE_COPY_THREAD_TLS

config 64BIT
	def_bool y

config MMU
	def_bool y
	select	UACCESS_MEMCPY

config PGTABLE_LEVELS
	int
	default 4

config CPU_LITTLE_ENDIAN
	def_bool y

config GENERIC_HWEIGHT
	def_bool y

config GENERIC_CALIBRATE_DELAY
	def_bool y

menu "Kernel Features"

source "kernel/Kconfig.hz"

endmenu

menu "Boot options"

config CMDLINE
	string "Default kernel command string"
	default ""

endmenu

