config DADAO
	def_bool y
	select GENERIC_ATOMIC64

config MMU
	def_bool y

config CPU_BIG_ENDIAN
	def_bool y

menu "Kernel Features"

source "kernel/Kconfig.hz"

endmenu

menu "Boot options"

config CMDLINE
	string "Default kernel command string"
	default ""

endmenu

